{# templates/generate_pdf/generate_pdf.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Convertir un fichier PDF{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            margin-top: 3rem;
            max-height: calc(100vh - 100px);
            overflow-y: auto;
            padding: 0 15px;
            text-align: center;
        }

        .title {
            font-size: 2.5rem;
            color: #343a40;
            text-align: center;
            margin-bottom: 2rem;
            margin-left: -15px; 
            margin-right: -15px; 
        }

        .lead {
            font-size: 1.25rem;
            color: #6c757d;
            margin-bottom: 2rem;
            margin-left: -15px; 
            margin-right: -15px; 
        }

        .form-group {
            margin-bottom: 2rem;
            margin-left: -15px;
            margin-right: -15px; 
        }

        .form-control {
            font-size: 1.1rem;
            color: #343a40;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border-color: #ced4da;
        }

        .alert {
            margin-bottom: 2rem;
            margin-left: -15px; 
            margin-right: -15px; 
        }

        .btn-link {
            color: #007bff;
            font-weight: bold;
        }

        .btn-link:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">Convertir un fichier PDF</h1>
    <p class="lead">Vous avez {{ conversionLeft }} conversions restantes aujourd'hui.</p>

    {% if conversionLeft > 0 %}
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
            </div>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-warning" role="alert">
            Vous avez atteint la limite de conversion de PDF journalière.
        </div>
        <ul class="list-unstyled">
            <li><a href="{{ path('app_home') }}" class="btn btn-link">Retourner à l'accueil</a></li>
            <li><a href="{{ path('app_handle_subscription') }}" class="btn btn-link">Changer mon abonnement</a></li>
        </ul>
    {% endif %}
</div>
{% endblock %}
